body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/*--------------------------------------------------------------*\
    SITE NAV
\*--------------------------------------------------------------*/
.site-nav {
  background: #2a3136;
  /*Responsive font*/
  font-size: calc(1.5em - 0vw);
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px 0 #6c63ff;
}
.get-started {
  width: 400px;
  background: #30373d;
  border-radius: 5px;
  display: flex;
  color: #eaeaea;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin-bottom: 0rem !important;
  padding: 1rem;
}
.get-started img {
  width: 1.3rem;
}
.get-started:hover {
  background: #3c454d;
  cursor: pointer;
  transition: 0.5s;
}
.get-started li {
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: #eaeaea;
}

/*--------------------------------------------------------------*\
    MAIN
\*--------------------------------------------------------------*/
.welcome-card {
  margin-top: 1.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}
.welcome-card h1 {
  font-size: calc(2em - 0vw);
  color: #6c63ff;
}
.welcome-card img {
  margin-top: 1rem;
  max-width: 660px;
}
.question-card {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.question img {
  width: 50px;
}
.question {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  color: #eaeaea;
  box-shadow: 3px 5px 0px #a19cfd;
  background: #6c63ff;
}
.answer {
  width: 200px;
  margin: 1rem auto;
}
.question-confirmation {
  display: flex;
  justify-content: space-between;
}
.yes-confirmation,
.no-confirmation {
  border: 2px solid #6c63ff;
  border-radius: 5px;
  transition: 0.5s;
  color: #2a3136 !important;
  padding: 0.6rem 2rem;
  box-shadow: 3px 5px 0px #a19cfd;
}

.yes-confirmation:hover,
.no-confirmation:hover {
  cursor: pointer;
  background: #6c63ff;
  color: #eaeaea;
  box-shadow: none;
  transition: 0.5s;
}
/*--------------------------------------------------------------*\
   DASHBOARD APP STYLES
\*--------------------------------------------------------------*/

/* nav app*/
.nav-app {
  display: flex;
  justify-content: space-between;
}
.nav-app a {
  background: none;
  transition: 0.5s;
}
.nav-app a:hover {
  background: none;
  text-decoration: none;
  color: #6c63ff;
  transition: 0.5s;
}
.dashboard {
  background: #eaeaea;
  padding: 1rem 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.dashboard-title h2 {
  font-weight: bold;
}
/* .dashboard-title,
.dashboard{
  margin-left: 80px;
} */

/*
Creating a transaction card
*/
.transaction-card {
  background: #fff;
}
.hr-data {
  border-left: 10px solid #6c63ff;
}
.transaction-card-contents {
  padding: 2rem;
}
.transaction-card-title {
  font-weight: bold;
  text-transform: uppercase;
}
.transaction-card-body {
  font-weight: normal;
  font-size: 2rem;
}

/*
Custom Fieldset
*/
fieldset {
  border: 1px solid #6c63ff !important;
  margin: 0;
  xmin-width: 0;
  padding: 10px;
  position: relative;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding-left: 10px !important;
}

legend {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  width: 35%;
  border: 1px solid #6c63ff;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  background-color: #ffffff;
}

input,
select {
  border: none !important;
}
input:focsus {
  outline: none !important;
}
select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */
select.classic {
  background-image: linear-gradient(45deg, transparent 50%, #a19cfd 50%),
    linear-gradient(135deg, #a19cfd 50%, transparent 50%),
    linear-gradient(to right, #6c63ff, #6c63ff);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

.btn {
  border: 2px solid #6c63ff !important;
}
.submit-query {
  border: 2px solid #6c63ff;
  box-shadow: 3px 5px 0px #a19cfd;
  transition: 0.5s;
}
.submit-query:hover {
  border: none;
  background: #6c63ff;
  transition: 0.5s;
  box-shadow: none;
}

/*
* Error Message UI
*/
.error-message {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #da6a52;
  transition: 1s;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  box-shadow: 0 0 3px 0 #6c63ff !important;
}
.error-message p {
  margin-top: 15px;
}
.error-message img {
  width: 2rem;

  margin-right: 5px;
}
.remove img {
  width: 1.4rem;
  padding: 0.2rem;
  border-radius: 5px;
  border: 1px solid #000;
  transition: 0.5s;
  /* border-radius: 10px; */
}

tbody {
  color: #fff;
}
table .table-hover {
  border: none !important;
  transition: 0.5s !important;
}
table .table-hover:hover {
  transition: 0.5s !important;
}
tr {
  border: none;
}
.remove img:hover {
  cursor: pointer;
  border: 1px solid #6c63ff;
  transition: 0.5s;
  border-radius: 5px;
  /* transform: rotate(360deg); */
}
.half-circle {
  width: 60px;
  height: 30px;
  display: flex;
  background-color: #a19cfd;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 10px solid #6c63ff;
  border-top: 0;
  transition: 1s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.debit {
  background: #a19cfd;
}
.credit {
  background: #6c63ff;
}
.half-circle img {
  align-self: flex-end;
}
.half-circle:hover {
  transition: 0.5s;
  transform: rotate(360deg);
}
